<div>
  <div class="submit-form">
    @if (!submitted) {
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="product.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select
          class="form-control"
          id="category"
          required
          [(ngModel)]="product.category"
        >
          <option *ngFor="let cat of categories" [value]="cat.id" >{{ cat.name }}</option>
        </select>
      </div>

      <button (click)="saveProduct()" class="btn btn-success">Submit</button>
    } @else {
      <h4>Product was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newProduct()">Add</button>
    }
  </div>
</div>
